.task {
    background-color: #224982;
    color: white;
    margin-top: 5px;
  }

  .addButton {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
  }